.orden{
    color: rgb(38, 185, 24);
    background-color: rgba(172, 25, 25, 0.486);
}
.principio{
    background-color: rgba(40, 156, 141, 0.527);
    color: brown;
}
.hello{
    color: rgb(184, 62, 178)
}